# This workflow is strictly a template. This is not meant to be executed from the current repo but
# by the [sh/workflows/artifact-release-trigger.yml](../../sh/workflows/artifact-release-trigger.yml) that is
# added in all `terraform-provider-*` repos.
name: Trigger Artifact Release

on:
  workflow_call:

permissions:
  contents: read
  actions: write

jobs:
  trigger:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Fetch tags
        run: git fetch --force --tags

      - name: Trigger workflow
        run: git tag --list "v*" | xargs -I {} -n1 gh workflow run artifact-release.yml -f tag={}
        env:
          GH_TOKEN: ${{ github.token }}
